.eyebrow {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: var(--text-eyebrow);
  font-weight: 700;
  margin-bottom: 7px;
  padding-inline: 20px;
}

.saveButton {
  background: var(--primary-80);
  color: var(--bg-surface-1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  padding: 9px 14px;
  margin-left: auto;
  min-height: 44px;
  font-size: 16px;
}

.modalActions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 22px;
  position: sticky;
  bottom: 0px;
  padding: 25px 20px;
  background-color: var(--bg-surface-4);
  border-top: 1px solid var(--border-light);
  z-index: 1;
}
.colorInput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: var(--selected);
  border: none;
  outline: none;
  cursor: pointer;
}

.colorInput::-webkit-color-swatch-wrapper {
  padding: 0;
}
.colorInput::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}

.colorInput::-moz-color-swatch {
  border: none;
  border-radius: 5px;
}

.cancelButton {
  min-height: 44px;
  padding: 9px 10px 9px 10px;
  color: var(--text-p-60);
  font-weight: 800;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid var(--border-dark);
  background-color: var(--bg-surface-1);
}

.modalHeading {
  font-size: 24px;
  margin-bottom: 4px;
  padding-inline: 20px;
}

.modalLabel {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 15px;
  font-weight: 700;
  margin-top: 13px;
  padding-inline: 20px;
}

.modalInput {
  border: 1px solid var(--border-dark);
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  min-height: 46px;
  font-size: 16px;
}

@media (width >= 900px) {
  .modalHeading {
    font-size: 27px;
  }

  .modalLabel {
    font-size: 13px;
  }
  .modalLabel,
  .eyebrow,
  .modalActions,
  .modalHeading {
    padding-inline: 30px;
  }
}
