.eyebrow {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: var(--text-eyebrow);
  font-weight: 700;
  margin-bottom: 0.7rem;
  padding-inline: 2.0rem;
}

.modalHeading {
  padding-inline: 2.0rem 2.0rem;
  font-size: 2.2rem;
  margin-bottom: 0.4rem;
}

.desktopText {
  display: none;
}
.saveButton {
  background: var(--primary-80);
  color: var(--bg-surface-1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  border-radius: 8px;
  padding: 0.9rem 1.4rem;
  min-height: 4.4rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.modalLabel {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1.3rem;
  padding-inline: 2.0rem;
}

.modalInput {
  border: 1px solid var(--border-dark);
  border-radius: 8px;
  padding: 1.0rem;
  width: 100%;
  min-height: 4.6rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.modalSelect {
  border: 1px solid var(--border-dark);
  border-radius: 8px;
  padding: 1.0rem;
  width: 100%;
  min-height: 4.6rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.gamificationCheck {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 1.0rem 2.0rem;
  padding-block: 1.2rem;
  border-bottom: 1px solid var(--border-light);
  border-top: 1px solid var(--border-light);
}

.checkIcon {
  width: 2.0rem;
  height: 2.0rem;
}

.goalFields {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.0rem;
}

.modalActions {
  display: flex;
  justify-content: space-between;
  gap: 1.0rem;
  margin-top: 2.2rem;
  position: sticky;
  bottom: 0;
  padding: 2.8rem 2.0rem 3.0rem;
  background-color: var(--bg-surface-4);
  border-top: 1px solid var(--border-light);
  z-index: 1;
}
.buttonContainer {
  display: flex;
  justify-content: start;
  gap: 1.2rem;
  flex: 1;
}
.colorInput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: var(--selected);
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 4.0rem;
  border: 1px solid var(--input-color-dark);
  border-radius: 6px;
}

.colorInput::-webkit-color-swatch-wrapper {
  padding: 0;
}
.colorInput::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}

.colorInput::-moz-color-swatch {
  border-radius: 5px;
}

.colorInput:focus {
  transform: scale(1.05);
}

.nameInput {
  border: 2px solid var(--border-dark);
  width: 100%;
  outline: none;
}

.nameInput:focus {
  border-color: var(--border-active);
  background: var(--bg-surface-1);
}
.deleteButton {
  color: var(--color-attention);
  font-weight: 800;
  padding: 0.9rem 1.0rem 0.9rem 1.0rem;
  min-height: 4.4rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-dark);
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--bg-surface-1);
}

.cancelButton {
  min-height: 4.4rem;
  padding: 0.9rem 1.0rem 0.9rem 1.0rem;
  color: var(--text-p-60);
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid var(--border-dark);
  background-color: var(--bg-surface-1);
}

@media (width >= 900px) {
  .goalFields {
    grid-template-columns: 1fr 2fr;
  }
  .desktopText {
    display: inline;
  }
  .deleteButton,
  .cancelButton {
    gap: 0.4rem;
  }
  .modalLabel,
  .eyebrow,
  .modalActions,
  .modalHeading {
    padding-inline: 3.0rem;
  }
}
