@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
:root {
  /* background-colors */
  --bg-main: #fef7e6;
  --bg-main-mid: #e8f3f9;
  --bg-main-end: #fcebf4;

  --bg-surface-1: #fff;
  --bg-surface-2: #fafbf9;
  --bg-surface-3: #edf0ec;
  --bg-surface-4: #e2e1e0;
  --bg-surface-5: #e9e1ca;
  --bg-active: var(--primary-06);

  --insight-start: #ffe2ad;
  --insight-mid: #fbd1dc;
  --insight-end: #ccecf3;

  --modal-overlay: #060b09a6;

  /* text */
  --text-basic: var(--primary-90);
  --text-p-60: var(--primary-60);
  --text-p-50: var(--primary-50);
  --text-nav: #eaf3df;
  --text-eyebrow: var(--primary-70);
  --text-muted: #969895;
  --text-olive: #6c7374;

  /* border */
  --border-light: #dee7de;
  --border-dark: #d9dfd8;
  --border-active: #d6b870;

  /* colors */
  --primary-90: #2c4143;
  --primary-80: #02585e;
  --primary-70: #02838d;
  --primary-60: #547278;
  --primary-50: #5d7c81;
  --primary-06: #e0f2fe;

  --color-brand-1: #f09c14;
  --color-brand-2: #fdec78;
  --color-accent: #356b54;
  --color-attention: #c74e59;

  --shadow-soft: #1e362522;
  --shadow-dark: #7a847d70;

  --shadow-s: 0px 2px 6px var(--shadow-dark);
}

html {
  min-width: 320px;
}
* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  margin: 0;
  min-width: 320px;
  font-size: 16px;
  line-height: 1.5;
  background: linear-gradient(
    135deg,
    var(--bg-main) 0%,
    var(--bg-main-mid) 62%,
    var(--bg-main-end) 90%
  );
  background-repeat: no-repeat;
  color: var(--text-basic);
  font-family: Nunito, system-ui, sans-serif;
}
button,
input,
select {
  font: inherit;
  min-height: 36px;
}
button {
  cursor: pointer;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: Nunito, system-ui, sans-serif;
  font-weight: 800;
  margin: 0;
}
h1 {
  font-family: "Bubblegum Sans";
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: var(--text-muted);
  font-weight: 1000;
  font-size: 14px;
  color: var(--color-brand-1);
}
h2 {
  font-size: clamp(16px, 6vw, 25px);
  line-height: 1.08;
}
h3 {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 700;
}
h4 {
  font-size: 17px;
}
button {
  border: 0;
  background: none;
  color: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
@media (width >= 900px) {
  h1 {
    font-size: 21px;
  }
  h2 {
    font-size: clamp(20px, 6vw, 30px);
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
}
.centerElement {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Netlify-Werbebanner unsichtbar machen */
.nl-wrap,
#nl-badge,
.nl-badge,
#nl-card,
.nl-card {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
  position: absolute !important;
  left: -9999px !important;
}
