.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 32rem;
}

.mobileHeader {
  display: flex;
  height: 4.8rem;

  padding: 1rem 1.4rem;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-surface-1);
  border-bottom: 1px solid var(--border-dark);
  backdrop-filter: blur(14px);
  flex: none;
}

.mobileBrand {
  font-weight: 700;
  display: flex;
  align-items: baseline;
  margin-left: 0.5rem;
}

.sidebar {
  display: none;
  position: static;
  /* inset: 0 auto 0 0; */
  width: 24rem;
  background: var(--primary-80);
  color: var(--text-nav);
  padding: 3.4rem 1.8rem;
  overflow-y: auto;
  z-index: 10;
  flex-shrink: 0;
}

.brand {
  font-size: 2.1rem;
  font-weight: 700;
  margin: 0 0rem 4.8rem;
  display: flex;
  align-items: baseline;
  min-height: 6rem;
  margin-left: 1.3rem;
}

.mobileNav {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--primary-80);
  z-index: 19;
  padding: 0.4rem 1rem calc(0.4rem + env(safe-area-inset-bottom));
  box-shadow: 0 14px 32px var(--shadow-soft);
  border-radius: 0;
  flex: none;
}

.main {
  padding-bottom: 9.2rem;
  flex: 1;
  overflow: visible;
}

@media (width >= 900px) {
  .app {
    flex-direction: row;
  }

  .mobileHeader {
    display: none;
  }

  .mobileNav {
    display: none;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
  }

  .main {
    flex: 1;
    padding: 4rem clamp(2.8rem, 5vw, 5.2rem) 6rem;
    margin-left: 0;
  }
}

@media (width >= 1080px) {
  .main {
    max-width: 125rem;
    padding: 4.8rem clamp(2.5rem, 5vw, 7.8rem) 7rem;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
  }
}

@media (width >= 1400px) {
  .main {
    max-width: 138rem;
    padding-left: 8.8rem;
    padding-right: 8.8rem;
  }
}
