.navList {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 4px;
  width: 100%;
}

.navButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 46px;
  padding: 4px 4px;
  color: var(--text-nav);
  font-weight: 500;
  background: transparent;
  border: none;
  cursor: pointer;
}

.navButtonActive {
  background: transparent;
  color: #fbe06a;
  transform: scale(1.1);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  font-size: 20px;
}

.label {
  display: none;
}

@media (width >= 900px) {
  .navList {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .navButton {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    text-align: left;
    padding: 13px;
    border-radius: 10px;
    color: var(--text-nav);
    width: 100%;
    min-height: auto;
  }

  .navButtonActive,
  .navButton:hover {
    background: var(--primary-70);
    color: var(--bg-surface-1);
  }

  .iconWrapper {
    width: 21px;
  }

  .label {
    display: inline;
    font-size: 16px;
  }
}
