.trackerWrap {
  position: relative;
  touch-action: manipulation;
  min-width: 0;
}

.tracker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 5.2rem;
  text-align: left;
  border-radius: 12px;
  background: var(--soft);
  padding: 0.8rem clamp(1.2rem, 3vw, 3.2rem) 0.8rem 1.2rem;
  transition:
    transform 0.15s ease,
    border-color 0.15s ease;
  border: 1px solid color-mix(in srgb, var(--accent) 40%, var(--bg-surface-1));
}

.trackerEditClickable:hover {
  transform: translateY(-1px);
  border-color: var(--accent);
  cursor: pointer;
}

.metaBlock {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  flex: 1;
  min-width: 55%;
}

.trackerIcon {
  flex: none;
  background-color: #ffffffa7;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.trackerName {
  font-size: 1.3rem;
  font-weight: 600;
  color: inherit;
  line-height: 2.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.countNumber {
  font-size: 1.6rem;
  font-weight: 800;
  text-align: right;
  width: 3.0rem;
  display: inline-block;
  flex: none;
  padding-right: 0.4rem;
  color: color-mix(in srgb, var(--accent) 95%, black);
}
.iconEditTracker {
  color: var(--primary-80);
}
.controlsBlock {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: clamp(0.8rem, 2.5vw, 2.4rem);
  flex: 1;
}

.buttonInc {
  width: 3.5rem;
  height: 3.0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: color-mix(in srgb, var(--accent) 30%, white);
  color: var(--accent);
  border-radius: 10px;
  cursor: pointer;
  transition:
    opacity 0.1s ease,
    transform 0.1s ease;
  padding: 0;
}
.buttonDec svg,
.buttonInc svg {
  stroke: var(--text-basic);
  stroke-width: 16px;
}
.buttonDec:hover,
.buttonInc:hover {
  background: color-mix(in srgb, var(--accent) 50%, white);
  transform: scale(1.1);
}

.buttonDec:active,
.buttonInc:active {
  transform: scale(0.92);
  opacity: 0.8;
}

@media (width >= 900px) {
  .tracker {
    min-height: 6.4rem;
    padding: 1.2rem 1.8rem;
  }

  .metaBlock {
    width: 45%;
    gap: 1.2rem;
  }

  .trackerIcon {
    font-size: 2.4rem;
  }

  .trackerName {
    font-size: 1.4rem;
  }

  .countNumber {
    font-size: 1.9rem;
    width: 4.5rem;
  }

  .controlsBlock {
    gap: 1.0rem;
  }

  .buttonDec,
  .buttonInc {
    width: 3.6rem;
    height: 3.6rem;
  }
}
