.iconPicker {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  max-height: 180px;
  overflow: auto;
  padding: 7px;
  border: 1px solid var(--icon-picker-border);
  border-radius: 9px;
  background: var(--icon-picker-bg);
}

.iconPicker button {
  font-size: 22px;
  border-radius: 6px;
  padding: 4px;
  min-height: 40px;
}

.iconPicker button:hover {
  background: var(--icon-selected-bg);
}

.iconPicker .iconChosen {
  background: var(--icon-selected-bg);
}

@media (width >= 901px) {
  .iconPicker {
    grid-template-columns: repeat(10, 1fr);
    max-height: 195px;
  }
  
  .iconPicker button {
    font-size: 20px;
  }
}
