.tooltip button {
  width: 22px;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  border: 1px solid var(--tooltip-border);
  border-radius: 50%;
  color: var(--tooltip-text);
  background: var(--tooltip-bg);
  font-size: 12px;
  font-weight: 800;
}

@media (width >= 900px) {
  .tooltip button {
    width: 22px;
    min-height: 22px;
  }
}
